//@theme "/home/samtitar/.local/share/rofi/themes/spotlight-dark.rasi"
@theme "/home/samtitar/.local/share/rofi/themes/rounded-gray-dark.rasi"

* {
    font: "Roboto 18";
}

window {
    width: 30%;
    location: north;
    anchor: north;
    y-offset: 10%;
}
